@charset 'utf-8';
@import '~bulma/sass/utilities/initial-variables';

$pink: #e5ccff;
$navbar-background-color: $pink;

$background-white: #f7f7f7;
$body-background-color: $background-white;
@import '~bulma/bulma';
